<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hello" class="com.kuang.pojo.Hello">
        <!-- collaborators and configuration for this bean go here -->
        <property name="name" value="Spring"></property>
    </bean>

    <bean name="MysqlImpl" class="com.kuang.dao.UserDaoMysqlImpl"/>
    <bean name="OracleImpl" class="com.kuang.dao.UserDaoOracleImpl"/>

    <bean id="ServiceImpl" class="com.kuang.service.impl.UserServiceImpl">
<!--    这里的name并不是属性，而是set方法后面的那部分，首字母小写     -->
<!--        引用另外一个bean，不是value 而是ref-->
        <property name="userDao" ref="OracleImpl"/>
     </bean>

    <!-- more bean definitions go here -->

</beans>