<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd
             http://www.springframework.org/schema/aop
             http://www.springframework.org/schema/aop/spring-aop.xsd">

        <bean id="diy" class="com.kuang.config.DiyPointCut"/>

    <!--aop的配置-->
        <aop:config>
            <!--第二种方式：使用AOP的标签实现-->
            <aop:aspect ref="diy">
                <!--切入点  expression:表达式匹配要执行的方法-->
                <aop:pointcut id="diyPointCut" expression="execution(* com.kuang.service.UserServiceImpl.*(..))"/>
                <aop:before method="before" pointcut-ref="diyPointCut"/>
                <aop:after method="after" pointcut-ref="diyPointCut"/>
            </aop:aspect>
        </aop:config>
</beans>